<h1>Create Customer</h1>

<% if @customer.errors.any? %>
     <ul> 
  <% @customer.errors.full_messages.each do |msg| %>

      <li> <%= msg %> </li>
  

  <% end %>
  </ul>
<% end %>

<%= form_for  @customer do |f| %>

<p>
  <%= f.label :cust_Name , "Customer Name" %>
  <%= f.text_field :cust_Name  %>
</p>

<p>
  <%= f.label :cust_Add , "Customer Address" %>
  <%= f.text_area :cust_Add %>
</p>

<p>
  <%= f.label :cust_mobile , "Mobile" %>
  <%= f.text_field :cust_mobile %>
</p>

<p>
  <%= f.label :cust_email , "E-mail" %>
  <%= f.email_field :cust_email %>
</p>

<p>
  <%= f.submit "New Customer" %>
</p>



<% end %>